.heading{
	background: purple;
	color: white;
	width: 100%;
	font-family: raleway;
	text-align: center;
	padding: 10px;
}
.paragraph{
	background: lightgray;
	color: purple;
	font-family: raleway;
	font-size: 17px; 
	text-align: left;
	margin: 10px;
	height: 350px;
	width: 400px;
	padding: 10px;
}
.randomNumber{
	background: lightblue;
	color: black;
	font-family: raleway;
	font-size: 60px; 
	margin: 10px;
	height: 80px;
	width: 250px;
	text-align: left;
	padding: 10px;
}
#wins-losses{
	background: lightgreen;
	color: black;
	font-family: raleway;
	font-size: 17px; 
	margin: 10px;
	height: 60px;
	width: 250px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.aqua{
	background: white;
  	text-align: left;
  	width: 100px;
  	text-align: center;
  	padding: 10px;
  	margin: 5px auto 0;
}
.yellow{
	background: white;
  	text-align: left;
  	width: 100px;
  	padding: 10px;
  	text-align: center;
  	margin: 5px auto 0;
}
.red{
	background: white;
  	text-align: left;
  	width: 100px;
  	padding: 10px;
  	text-align: center;
  	margin: 5px auto 0;
}
.blue{
	background: white;
  	text-align: left;
  	width: 100px;
  	padding: 10px;
  	text-align: center;
  	margin: 5px auto 0;
}
.ytsi{
	background: teal;
	color: white;
	font-family: raleway;
	margin: 10px;
	height: 30px;
	width: 400px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.score{
	background: teal;
	color: white;
	font-family: raleway;
	font-size: 60px; 
	margin: 10px;
	height: 80px;
	width: 400px;
	text-align: left;
	padding: 10px;

}






